<h1>Park Data</h1>
<%=@parks.count%> National Parks 
<%@parks.each do |park|%>
  <h2><p><%=park.name%></p></h2><br>
  <p>Description: <%=park.description%></p><br>
  <p>Directions: <%=park.directions%></p><br>
  <strong>Hours </strong>
  <%=park.hours%>
<%end%>